{% extends '_base.html' %}

{% block title %} Company Detail {% endblock %}

{% block content %}
<style>
    .list-group-item {
        font-size: x-large;
    }
    .custom-btn {
        margin-right: 10px;
        margin-top: 30px;
    }
</style>

<ul class="list-group list-group-horizontal">
    <li class="list-group-item">Company</li>
    <li class="list-group-item">{{ object.name }}</li>
</ul>
    {% if perms.company.view_company %}
            <a href="{% url 'company_list' %}" class="btn btn-primary custom-btn">company List</a>
        {% endif %}
        {% if perms.company.update_company %}
            <a href="{% url 'company_update' object.id %}" class="btn btn-warning custom-btn">company Update</a>
        {% endif %}
        {% if perms.company.delete_company %}
            <a href="{% url 'company_delete' object.id%}" class="btn btn-danger custom-btn">company Delete</a>
        {% endif %}
{% endblock %}