{% extends '_base.html' %}

{% block title %} Company Update {% endblock %}

{% block content %}
<style>
    .custom-btn {
        margin-right: 10px;
        margin-top: 30px;
    }
</style>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-warning">Save company</button>
</form>
{% if perms.company.view_company %}
            <a href="{% url 'company_list' %}" class="btn btn-primary custom-btn">company List</a>

            <a href="{% url 'company_detail' object.id %}" class="btn btn-info custom-btn">company Info</a>
        {% endif %}
        {% if perms.company.delete_company %}
            <a href="{% url 'company_delete' object.id%}" class="btn btn-danger custom-btn">company Delete</a>
        {% endif %}
{% endblock %}