{% extends '_base.html' %}

{% block title %} Visistor Delete {% endblock %}

{% block content %}
<style>
    .text{
        font-size: x-large;
    }
    .custom-btn {
        margin-right: 10px;
        margin-top: 30px;
    }
</style>
<p class="text">Are you sure you want to delete the visitor <strong> {{ object.name }}</strong>?</p>

<form action="" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
{% if perms.visitors.view_visitor %}
            <a href="{% url 'visitor_list' %}" class="btn btn-primary custom-btn">Visitor List</a>
            <a href="{% url 'visitor_detail' visitor.id %}" class="btn btn-info custom-btn">Visitor Detail</a>
        {% endif %}
        {% if perms.visitors.change_visitor %}
            <a href="{% url 'visitor_update' visitor.id %}" class="btn btn-warning custom-btn">Visitor Update</a>
        {% endif %}
{% endblock %}